# **t-Test**

**1st Example**

In [1]:
import numpy as np
ages=[12,51,42,44,46,35,15,24,25,35,15,24,25,22,44,36,14,21,11,30,32,31,42]
len(ages)

23

In [2]:
ages_mean=np.mean(ages)
ages_mean

29.391304347826086

In [3]:
#One-sample t-test

Validation: Whether there is a difference between sample mean and population mean.

Null Hypothesis: There is no difference.

Alternate Hypothesis: There is a difference.

In [4]:
#lets take sample
sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([51, 22, 51, 25, 46, 35, 30, 35, 15, 44])

In [5]:
# prompt: calculate the standard deviation of the age_sample

np.std(age_sample)

11.859173664298876

In [6]:
np.mean(age_sample)

35.4

In [7]:
#this package is used only when we perform one sample t-test
from scipy.stats import ttest_1samp

In [8]:
ttest,pvalue=ttest_1samp(age_sample,ages_mean)

In [9]:
pvalue

0.16282901139189615

In [10]:
ttest

1.5200120570616042

In [11]:
if(pvalue<0.05):
  print("there is a difference and null hypothesis rejected")
else:
  print("there is no difference and null hypothesis accepted")

there is no difference and null hypothesis accepted

### **2nd Example**

In [12]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [13]:
school_ages=stats.poisson.rvs(loc=14,mu=30,size=1000)
classA_ages=stats.poisson.rvs(loc=16,mu=23,size=50)

In [14]:
ttest,pvalue=ttest_1samp(classA_ages.mean(),school_ages.mean())

/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:1103: RuntimeWarning: divide by zero encountered in divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:1103: RuntimeWarning: invalid value encountered in double_scalars
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero

In [15]:
if(pvalue<0.05):
  print("there is a difference and null hypothesis rejected")
else:
  print("there is no difference and null hypothesis accepted")

there is no difference and null hypothesis accepted

### 3rd Example

In [16]:
classA_ages=stats.poisson.rvs(loc=16,mu=23,size=50)
classB_ages=stats.poisson.rvs(loc=18,mu=25,size=55)

In [17]:
print(np.mean(classA_ages))
print(np.mean(classB_ages))

38.1
42.96363636363636

In [18]:
ttest,pvalue=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

In [19]:
pvalue

4.293098197505231e-07

In [20]:
if(pvalue<0.05):
  print("there is a difference and null hypothesis rejected")
else:
  print("there is no difference and null hypothesis accepted")

there is a difference and null hypothesis rejected